
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800&display=swap');

:root {
    --primary: #4978F0;
    --primary-light: #E1EEF5;
    --secondary: #1D1D1D;
    --background: #F4F1FF;
    --text: #1F2346;
}

body {
    font-size: 16px;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#in{
  width: 400px !important;
  margin-top: 10px;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

.socials-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.socials-row img {
    width: 24px;
    height: 24px;
}

.socials-row > a {
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    min-height: 48px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 8px;
    border: 1px solid var(--primary-light);
    font-weight: 700;
}

.socials-row > a:hover {
    border: 1px solid var(--primary);
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    gap: 16px;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    opacity: .2;
}

.login-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 3fr;
    max-width: 1200px;
    margin: 0 auto;
}


.login-side {
    padding: 188px 32px 48px 32px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.info-side {
    height: 100vh;
    padding: 84px 48px 48px 32px;
    color: #401B3D;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--background);
    margin-top: 160px;
}

.info-side h2 {
    margin-top: 48px;
    color: var(--text);
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.info-side p {
    font-size: 1.2rem;
}

.info-side img {
    max-width: 860px;
}

.welcome-message {
    max-width: 360px;
}

.logo {
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.my-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 460px;
    width: 100%;
    padding: 48px 32px;
    height: fit-content;
    box-shadow: 
        rgba(100, 100, 111, 0.2)
        0px 7px 29px 0px;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 16px;
}

.login-welcome {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.login-welcome-row {
    display: flex;
    width: 111%;
    flex-direction: column;
    gap: 8px;
}

.my-form__button {
    background-color: var(--primary);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 16px;
    margin-top: 8px;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signup {
    display: flex;
    justify-content: center;
}

.my-form__signup a {
    color: var(--primary);
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
}

.my-form__signup a:hover {
    text-decoration: underline;
}

.text-field input {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 8px;
}

.text-field {
    position: relative;
}

.text-field img {
    position: absolute;
    right: -2px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    transform: translate(-50%,-50%);
    transform-origin: center;
}

.text-field input:focus {
    border: 1px solid var(--primary);
}

.text-field label {
    color: var(--secondary);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .03rem;
    z-index: 10 !important;
    
}
.socials-row{
  cursor: pointer;
}

@media (max-width: 640px) {
    .login-wrapper {
        grid-template-columns: 1fr;
        height: 100vh;
        padding-top: 30px;
    }
    
    .info-side {
        flex-direction: column-reverse;
        padding: 48px 48px 48px 32px;
    }
    .logo{
margin: 50px 0px 0px 70px !important;


    }
    .login-welcome-row{
      text-align: center;
    }
    .my-form__row span{
      display: none;
    }
    .my-form__signup{
    position: absolute;
    padding-left: 120px;
  

    }
   #create-ac{
    padding: 0px 0px 0px 0px;
    margin-left: -35px;
   }

   #log-det{
     margin-left: 100px;
   }
   #forget-full{
height: 600px;
margin-top: 100px;
   }
   #forget-log{
   margin-left:-45px;
   }
#reset-full{
margin-top: 100px;
}
   
   #rest-log{
    position:static;
    padding-left: 20px;
    margin-left: -40px;
  
   }
   #log-pass{
    flex-direction: column;
   }
   #log-forget{
    position:absolute;
    bottom: 80px;
    right: 0px;
   }
   #cheak{
  position:absolute;
  left: 10px;
  bottom: 115px;
  ;
   }
   .log-sp{
    padding-right: 90px;
    
   }
   #log-btn{
    margin-top: 0px;
 
    
   }
   
}

/* -------------Login and Signup Css ends here---------------- */

  
/* ------------------Home page Css starts here------------- */




body{
    font-family: 'Lato', sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
.homehead{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://cdn.pixabay.com/photo/2016/11/19/16/48/notebook-1840276_640.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
}
.nav-area li a:hover{
    background: #12914b;
    color: #f7f1f1;
}
.logo{
    float: left;
}
.logo img{
    width: 100%;
    padding: 15px 0;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 15% 30%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
}
.welcome-text a{
    border: 1px solid #ada6a6 ;
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #c2b6b6 !important;
    
    
}
.welcome-text a:hover{
    background: #12914b;
    color: #fff !important;
    border: #401B3D;
}



@media (max-width:600px) {
    .wrapper {
width: 100%;
}
.logo {
float: none;
width: 50%;
text-align: center;
margin: auto;
}
header{
  background-size: cover;
  background-size:1000px 1200px ;
  
  background-repeat: no-repeat;
}

 .logo-img {
  width: 400px !important;
  height: 150px !important;
  margin-left: -90px;
}
.nav-area {
float: none;
margin-top: 0;
}
    .nav-area li a {
padding: 5px;
font-size: 11px;
}
.nav-area {
text-align: center;
}
    .welcome-text {
width: 100%;
height: auto;
margin: 350px 0px 0px 0px;
}
.welcome-text h1 {
font-size: 30px;
}
.glowing-txt{
  margin:0px 0px 3px 12px ;
 
}
}

/* ------------------Home page Css starts here------------- */




/* @import url("https://fonts.googleapis.com/css?family=Raleway"); */


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .neons {
  padding-top: -100px;
  padding-right: 500px;

  text-align: center;
} */

.neons h1 {
 font-size: rem;
 text-align: center;
  font-weight: bold;
 -webkit-animation: glow 2s ease-in-out infinite alternate;
 -moz-animation: glow 2s ease-in-out infinite alternate;
 animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
     color: #fff;
   text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
 }
 
 to {
    color: gray;
   text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
 }
}



.glowing-btn {
    --glow-color: hsl(36, 79%, 53%);
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;
  

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsla(0, 33%, 85%, 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(253, 252, 252, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}

/* -----------------spinner ---------------- */

/* styles.css */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 4px solid #ebe8e8;
  border-top: 4px solid rgb(81, 81, 87);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

